<footer>
  <div class="container footer">
    <hr>
    <p>&copy; 2024 MegaMek</p>
  </div>
</footer>

<script
  src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.bundle.min.js"
  integrity="sha512-i9cEfJwUwViEPFKdC1enz4ZRGBj8YQo6QByFTF92YXHi7waCqyexvRD75S5NVTsSiTv7rKWqG9Y5eFxmRsOn0A=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>

<script>
  tables = document.getElementsByTagName('table')

  for (var index = 0; index < tables.length; index++) {
    table = tables[index]
    table.classList.add('table')
    table.classList.add('table-striped')
    table.classList.add('table-hover')
    table.classList.add('table-bordered')
  }
</script>
