<!DOCTYPE html>
<html lang='en'>

<head>
  <title>{{ site.title }} - {{ page.title }}</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="{{ site.description }}" />
  <meta name="author" content="{{ site.author }}" />
  <meta name="keywords" content="megamek, mekhq, megameklab" />
  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/assets/images/icons/favicon-apple-touch-114.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/images/icons/favicon-apple-touch-114.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/images/icons/favicon-apple-touch-144.png">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/images/icons/favicon-apple-touch-144.png">
  <link rel="icon" type="image/vnd.microsoft.icon" sizes="32x32 48x48" href="/assets/images/icons/favicon.ico">
  <link rel="icon" sizes="128x128" href="favicon.icns">
  <link rel="icon" href="/assets/images/icons/favicon.png" type="image/x-icon">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
  integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link href="{{ '/assets/css/mmsite.css' | relative_url }}" rel="stylesheet">
  <link href="{{ '/assets/css/syntax.css' | relative_url }}" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark transparent fixed-top">
      <a class="navbar-brand" href="{{ 'index.html' | relative_url }}">
        <img src="{{ '/assets/images/icons/mm_word_logo.png' | relative_url }}" height="35" alt="MegaMek Logo">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class='nav-item'><a class=" nav-link" href="{{ 'index.html' | relative_url }}">Public Servers</a></li>
          <li class='nav-item'><a class=" nav-link" href="{{ 'install.html' | relative_url }}">Installation</a></li>
          <li class='nav-item'><a class=" nav-link" href="{{ 'update.html' | relative_url }}">Update</a></li>
          <li class='nav-item'><a class=" nav-link" href="{{ 'custom.html' | relative_url }}">Custom Data</a></li>
          <li class='nav-item'><a class=" nav-link" href="{{ 'stress-tests/index.html' | relative_url }}">Stress Test Data</a></li>
        </ul>
      </div>
    </nav>

  </header>
  <div class='banner-image d-none d-sm-block d-sm-none d-md-block'></div>
